

#overlay {
  background: rgba(0,0,0, .8);
  width: 100%;
  height: 100%;
  position: fixed;;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
	z-index: 5;
}

#overlay img {
  margin: 10vh 5vw 5vh 5vw;
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 5px;
}

#photos {
margin: 0 auto;
width: 100%;
padding-left: 10vw;
padding-right: 10vw;

}

.cell img
{
  display: block;
}
@include MQ(M)
{
  #photo-gallery
  {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell
  {
    width: calc(100% /3);
  }
}
