
.parallax-container {
  position: fixed;
  overflow: visible;
  width: 100%;
  height: 850px;
}
.parallax-layer {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-position: bottom center;
  background-repeat: repeat-x;
  background-size: 960px 253px;
}
  .layer-0 {
    top: -10vh;
    z-index: 10;
  //  background: #dbf0ff url('/img/Layer1(logo)_test.png') no-repeat top 40px center;
  //  background-size: 120px 138.5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding-left: 10vw;
  padding-right: 10vw;
  text-align: center;
  background-color: lightblue;
  @include MQ(L)
  {
    flex-direction: row;
    justify-content: center;
    text-align: left;
  }
  img
  {
    max-width: 60vw;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 0;
    @include MQ(M)
    {
      max-width: 300px;
    }
  }
  .description
  {
    display: flex;
    flex-direction: column;
    max-width: 80vw;


    @include MQ(L)
    {
      max-width: 800px;
      font-size: 1.5rem;
      padding-left: 5px;
      border-left:1px solid grey;
    }
  }
  }
  .layer-1 {
    top: -100px;
    z-index: 5;
    background-image: url('/img/Layer2_test.png');
  }
  .layer-2 {
    top: -50px;
    z-index: 10;
    background-image: url('/img/Layer3_test.png');
  }
  .layer-3 {
    top: -10px;
    z-index: 15;
    background-image: url('/img/Layer4_test.png');
  }
  .layer-4 {
    top: 65px;
    z-index: 20;
    background-image: url('/img/Layer5_test.png');
  }
  .layer-5
  {
    top: 150px;
    z-index: 25;
    background-image: url('/img/Layer6_test.png');
  }


.parallax-content
{
  position: absolute;
  top: 100vh;
  margin-top: 100px;
	left: 0;
  width: 100%;
  min-height: 1500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
.parallax-content h1
{
  	color: #fff;
  	font-size: 2em;
  	text-transform: uppercase;
  	text-align: center;
}
.parallax-content h2
{
	color:$color-3;
}
