// colors

$main-text: #7f8c97; // main text
$link: #acb7c0; // anchor tags
$background: #e9f0f5; // body background color

$color-1: #303e49; // blue dark
$color-2: #c03b44; // red
$color-3: #ffffff; // white
$color-4: #75ce66; // green
$color-5: #f0ca45; // yellow

// fonts

$primary-font: 'Droid Serif', serif;
$secondary-font: 'Open Sans', sans-serif;

//Number of projects
$items: 4;
//Transition
$transition: ease; //cubic-bezier(0.250, 0.250, 0.660, 1.650);

$content-width: 1000px;
$showcase-height: 17em;
$nav-width: 100%;
$main: #19CCAA;
$font-style: 'Open Sans', sans-serif;
$font-color: #262626;
$link-color: #425469;
$link-hover-color: $main;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #425469;
$light: #E7EDF4;
$header:  #1D1425;

$breakpoint: 799px;
$nav-height: 40px;
$nav-background: #262626;
$nav-font-color: #ffffff;
$link-hover-color: #2581DC;
