<section class="navigation">
	<div class="nav-container">
		<div class="brand">
				<a href="../index.html">Home</a>
		</div>
	<nav>
		<div class="nav-mobile">
			<a id="nav-toggle" href=href="#" class="back-to-top" title="Back to top"><span></span></a>
		</div>
		<ul class="nav-list">
			{% for page in site.pages %} {% if page.title %}

				<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
				{% endif %} {% endfor %}
		</ul>
	</nav>
</div>
</section>

<header>

</header>
