@import '../bourbon/bourbon'; // http://bourbon.io/

@import '../partials/variables'; // colors, fonts etc...

@import '../partials/mixins'; // custom mixins

@import '../partials/layout'; // responsive grid and media queries

$content-width: 1000px;
$nav-width: 100%;
$main: #19CCAA;
$font-style: 'Open Sans', sans-serif;
$font-color: #262626;
$link-color: #425469;
$link-hover-color: $main;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #425469;
$light: #E7EDF4;
$header:  #1D1425;

$breakpoint: 799px;
$nav-height: 40px;
$nav-background: #262626;
$nav-font-color: #ffffff;
$link-hover-color: #2581DC;

html *
{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before
{
	box-sizing:border-box;
}

body
{
	font:
	{
		size: 100%;
		family: $primary-font; // variables inside partials > _variables.scss
	}
	color: $main-text;
	background-color: $background;
}

a
{
	color: $link;
	text-decoration: none;
	font-family: $secondary-font;
}

img
{
	max-width: 100%;
}

h1, h2
{
	font-family: $secondary-font;
	font-weight: bold;
}
.text-replace
{
	color: transparent;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
}

.container
{
 /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
	width: 90%;
	max-width: $L; // breakpoints inside partials > _layout.scss
	margin: 0 auto;

	&::after
	{ /* clearfix */
		content: '';
		display: table;
		clear: both;
	}
}

.projects-container
{
	position: relative;
	z-index: 4;
	overflow-x: hidden;
	
	

	&.project-open
	{
		-webkit-overflow-scrolling: touch;
	}
}

.projects-previews
{
	position: relative;
	z-index: 4;
	height: 100vh;
	width: 100vw;
	padding: 0;
	@include clearfix;

	.project-open &
	{
		pointer-events: none;
	}

	li
	{
		height: 100%/$items;
		width: 100%;
		overflow: hidden;
		transition : transform .5s;

		backface-visibility: hidden;
		transform: translateZ(1px);

		&.selected
		{
			opacity: 0;
			transform: translateX(-100%);
			transition: transform 0s;
		}
		&.slide-out
		{
			transform: translateX(-100%);
		}
	}
	a
	{
		display: block;
		height: 100vh;
		width: 100%;
		transform: translateY(0%);
		opacity: 0;
		transition: opacity .5s;
	}
	li:nth-of-type(2) a
	{
		transform: translateY(-100%/$items);
	}
	li:nth-of-type(3) a
	{
		transform: translateY(-100%*2/$items);
	}
	li:nth-of-type(4) a
	{
		transform: translateY(-100%*3/$items);
	}
	.bg-loaded a
	{
		opacity: 1;
	}
	@include MQ(L)
	{
		li
		{
			display: inline-block;
			height: 100%;
			width: 100%/$items;
			float: left;

			&.selected
			{
				transform: translateY(-100%);
			}
			&.slide-out
			{
				transform: translateY(-100%);
			}
		}

		a
		{
			width: 100%*$items;
		}

		li:nth-of-type(2) a
		{
			transform: translateX(-100%/$items);
		}
		li:nth-of-type(3) a
		{
			transform: translateX(-100%*2/$items);
		}
		li:nth-of-type(4) a
		{
			transform: translateX(-100%*3/$items);
		}
	}
}

.projects
{
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;

	> li
	{
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
		transition: opacity 0s;

		&.selected
		{
			z-index: 1;
			opacity: 1;
			transition: opacity 0s;
		}
	}
	.preview-image
	{
		display:block;
		height: 100vh;
	}
}
.projects-previews a, .projects .preview-image
{
	background: red url(../img/placeholder.gif) no-repeat center center;
	background-size: cover;
}
.projects-previews li:nth-of-type(2) a, .projects > li:nth-of-type(2) .preview-image
{
	background: yellow url(../img/placeholder.gif) no-repeat center center;
	background-size: cover;
}

.projects-previews li:nth-of-type(3) a, .projects > li:nth-of-type(3) .preview-image
{
	background: blue url(../img/placeholder.gif) no-repeat center center;
	background-size: cover;
}

.projects-previews li:nth-of-type(4) a, .projects > li:nth-of-type(4) .preview-image
{
	background: purple url(../img/placeholder.gif) no-repeat center center;
	background-size: cover;
}
.project-title
{
	position: absolute;
	width: 100%;
	top: calc(50% - 20px);
	left: 0;
	color : lightgrey;
	transform: translateY(100vh*(2/$items - $items/2)/$items);
	transition: transform .6s .2s;
	text-align: center;

	&::after
	{
		content: '';
		position: absolute;
		left: 50%;
		bottom: -10px;
		width: 40px;
		height: 1px;
		background: lightblue;
		transform: translateX(-50%) scale(0);
		transition: transform .3s;
	}
	.no-touch .projects-previews a:hover &::after
	{
		transform:translateX(-50%) scale(1);
	}
	.projects &::after
	{
		transform: translateX(-50%) scale(1);
		transition: transform .3s .3s;
	}
	h2
	{
		font-size: 2.5rem;
		line-height: 1.5;
		font-weight: 700;
	}
	p
	{
		font-size: 1.4rem;
		font-style: italic;
		line-height: 1.2;
		padding: .4em 2em;
		opacity: .8;
	}
	@include MQ(L)
	{
		width: 100%/$items;
		top:50vh;
		transform: translateX(0%);
	}
}
.projects-previews li:nth-of-type(2) .project-title,
.projects > li:nth-of-type(2) .project-title
{
	transform:translateY(100vh*(2/$items - $items/2 + 1)/$items);

	@include MQ(L)
	{
		transform:translateX(100%);
	}
}
.projects-previews li:nth-of-type(3) .project-title,
.project > li:nth-of-type(3) .project-title
{
	transform: translateY(100vh*(2/$items - $items/2 + 2)/$items);

	@include MQ(L)
	{
		transform: translateX(200%);
	}
}
.projects-previews li:nth-of-type(4) .project-title,
.project > li:nth-of-type(4) .project-title
{
	transform: translateY(100vh*(2/$items - $items/2 + 3)/$items);

	@include MQ(L)
	{
		transform: translateX(300%);
	}
}

li.selected .project-title,
.projects > li:nth-of-type(2).selected .project-title,
.projects > li:nth-of-type(3).selected .project-title,
.projects > li:nth-of-type(4).selected .project-title,
{
	transform:translateY(0);

	@include MQ(L)
	{
		transform:translateX(150%);
	}
}
.projects li.selected .project-title::after
{
	transition: transform .3s 0s;
	transform: translateX(-50%) scale(0);
}
.touch .projects li.selected .project-title::after
{
	transition: transform 0s;
}
.project-info
{
	display:none;
	padding: 4em 0;
	background-color: white;
	color: tint(black, 40%);
	.content-visible &
	{
		display: block;
	}

	p
	{
		width: 90%;
		max-width: 800px;
		margin: 0 auto;
		line-height: 2;
	}
}


.projects-container .scroll,
.projects-container .close
{
	display: block;
	position: absolute;
	z-index: 5;

	width: 44px;
	height: 44px;

	cursor: pointer;
	border: none;

	outline: none;
	
}

.projects-container .scroll
{
	bottom: 50px;
	left: 50%;
	background: url('../img/cd-icon-arrow.svg') no-repeat center center;
	visibility: hidden;
	transform: translateX(-50%) scale(0);
	transition: transform .3s 0s, visibility 0s .3s;
}

.projects-container .close
{
	z-index: 9;
	top: 50px;
	right: 5%;
	background: url('../img/red-cross.png') no-repeat center center;
	transform: scale(0);
	transform: translateX(-50%) scale(0);
	transition: transform 1s 0s, visibility 0s 1s;

	@include MQ(L)
	{
		background-image: url('../img/cd-icon-close-desktop.svg');
	}
}
.projects-container.project-open .scroll
{
	visibility: visible;
	transform: translateX(-50%) scale(1);
	transition: transform 0.4s 0s, visibility 0s 0s;
	animation: cd-translate 1.2s 0.8s;
	animation-iteration-count: 2;
}
.projects-container.project-open .close
{
	visibility: visible;
	transform: translateX(-50%) scale(1);
	transition: transform 0.4S 0s, visibility 0s 0s;
}
.no-touch .project-open.project-open .close:hover
{
	transform:scale(1.2);
}
.no-touch .projects-container.project-open .scroll:hover
{
	transform: translateX(-50%) scale(1.2);
}
@keyframes cd-translate
{
		0%
		{
			transform: translateX(-50%) scale(1);
		}
		50%
		{
			transform: translateY(10px) translateX(-50%) scale(1);
		}
		100%
		{
			transform: translateX(-50%) scale(1);
		}
}

#timeline
{
	position: relative;
	padding: 2em 0;
	margin:
	{
		top: 2em;
		bottom: 2em;
	}

	&::before
	{
		/* this is the vertical line */
		content: '';
		position: absolute;
		top: 0;
		left: 18px;
		height: 100%;
		width: 4px;
		background: darken($background, 5%);
	}

	@include MQ(M)
	{
		margin:
		{
			top: 3em;
			bottom: 3em;
		}

		&::before
		{
			left: 50%;
			margin-left: -2px;
		}
	}
}

.timeline-block
{
	position: relative;
	margin: 2em 0;
	@include clearfix;

	&:first-child
	{
		margin-top: 0;
	}

	&:last-child
	{
		margin-bottom: 0;
	}

	@include MQ(M)
	{
		margin: 4em 0;

		&:first-child
		{
			margin-top: 0;
		}

		&:last-child
		{
			margin-bottom: 0;
		}
	}
}

.timeline-img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	box-shadow: 0 0 0 4px $color-3, inset 0 2px 0 rgba(#000, .08), 0 3px 0 4px rgba(#000, .05) ;

	img
	{
		display: block;
		width: 24px;
		height: 24px;
		position: relative;
		left: 50%;
		top: 50%;
		margin-left: -12px;
		margin-top: -12px;
	}

	&.picture
	{
		background: $color-4;
	}

	&.movie
	{
		background: $color-2;
	}

	&.location
	{
		background: $color-5;
	}

	@include MQ(M)
	{
		width: 60px;
		height: 60px;
		left: 50%;
		margin-left: -30px;

		/* Force Hardware Acceleration in WebKit */
		-webkit-transform: translateZ(0);
		-webkit-backface-visibility: hidden;

		.cssanimations &.is-hidden
		{
			visibility: hidden;
		}

		.cssanimations &.bounce-in
		{
			visibility: visible;
			animation: cd-bounce-1 .6s;
		}
	}
}

@keyframes cd-bounce-1
{
	0%
	{
		opacity: 0;
		transform: scale(.5);
	}

	60%
	{
		opacity: 1;
		transform: scale(1.2);
	}

	100%
	{
		transform: scale(1);
	}
}

.timeline-content
{
	position: relative;
	margin-left: 60px;
	background: $color-3;
	@include border-radius;
	padding: 1em;
	box-shadow: 0 3px 0 darken($background, 5%);
	@include clearfix;

	h2
	{
		color: $color-1;
	}

	p, .timeline-read-more, .timeline-date
	{
		@include font-size(13px);
	}

	.timeline-read-more, .timeline-date
	{
		display: inline-block;
	}

	p
	{
		margin: 1em 0;
		line-height: 1.6;
	}

	.timeline-read-more
	{
		float: right;
		padding: .8em 1em;
		background: $link;
		color: $color-3;
		@include border-radius;

		.no-touch &:hover
		{
			background-color: lighten($link, 5%);
		}
	}

	.timeline-date
	{
		float: left;
		padding: .8em 0;
		opacity: .7;
	}

	&::before
	{
		content: '';
		position: absolute;
		top: 16px;
		right: 100%;
		height: 0;
		width: 0;
		border: 7px solid transparent;
		border-right: 7px solid $color-3;
	}

	@include MQ(M)
	{
		h2
		{
			@include font-size(20px);
		}

		p
		{
			@include font-size(16px);
		}

		.timeline-read-more, .cd-date
		{
			@include font-size(14px);
		}
	}

	@include MQ(M)
	{
		margin-left: 0;
		padding: 1.6em;
		width: 45%;

		&::before
		{
			top: 24px;
			left: 100%;
			border-color: transparent;
			border-left-color: $color-3;
		}

		.timeline-read-more
		{
			float: left;
		}

		.timeline-date
		{
			position: absolute;
			width: 100%;
			left: 122%;
			top: 6px;
			@include font-size(16px);
		}

		.timeline-block:nth-child(even) &
		{
			float: right;

			&::before
			{
				top: 24px;
				left: auto;
				right: 100%;
				border-color: transparent;
				border-right-color: $color-3;
			}

			.timeline-read-more
			{
				float: right;
			}

			.timeline-date
			{
				left: auto;
				right: 122%;
				text-align: right;
			}
		}

		.cssanimations &.is-hidden
		{
			visibility: hidden;
		}

		.cssanimations &.bounce-in
		{
			visibility: visible;
			animation: cd-bounce-2 .8s;
		}
	}
}


@include MQ(M)
{
	/* inverse bounce effect on even content blocks */
	.timeline-block:nth-child(odd) .timeline-content.bounce-in
	{
		animation-name: cd-bounce-2;
		animation-duration: 0.6s;
	}
	.timeline-block:nth-child(even) .timeline-content.bounce-in
	{
		animation-name: cd-bounce-2-inverse;
		animation-duration: 0.6s;
	}
}

@keyframes cd-bounce-2
{
	0%
	{
		opacity: 0;
		transform: translateX(-100px);
	}

	60%
	{
		opacity: 1;
		transform: translateX(20px);
	}

	100%
	{
		transform: translateX(0);
	}
}

@keyframes cd-bounce-2-inverse
{
	0%
	{
		opacity: 0;
		transform: translateX(100px);
	}

	60%
	{
		opacity: 1;
		transform: translateX(-20px);
	}

	100%
	{
		transform: translateX(0);
	}
}

nav
{
	float: right;

	ul
	{
		list-style: none;
		margin: 0;
		padding: 0;
		li
		{
			float: left;
			position: relative;
			a,
			a:visited
			{
				display: block;
				padding: 0 20px;
				line-height: $nav-height;
				background: $nav-background;
				color: $nav-font-color;
				text-decoration: none;
				&:hover
				{
					background: $link-hover-color;
					color: $nav-font-color;
				}
				&:not(:only-child):after
				{
					padding-left: 4px;
					content: ' ▾';
				}
			}
			ul li
			{
				min-width: 190px;
				a
				{
					padding: 15px;
					line-height: 20px;
				}
			}
		}
	}
}
.navigation
{
	height: $nav-height;
	width: 100%;
	top:0;
	background: $nav-background;
	position: fixed;
	z-index: 10;
	font-size: 0.8em;
}
.brand
{
	position: absolute;
	padding-left: 20px;
	float: left;
	line-height: $nav-height;
	text-transform: uppercase;
	font-size: 1.4em;
	a,
	a:visited
	{
		color: $nav-font-color;
		text-decoration: none;
	}
}
.nav-container
{
	max-width: $nav-width;
	margin: 0 auto;
}
.nav-dropdown
{
	position:absolute;
	display: none;
	z-index: 1;
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}
.nav-mobile
{
	display:none;
	position: absolute;
	top: 0;
	right: 0;
	background: $nav-background;
	height: $nav-height;
	width: $nav-height;
}
.parallax-container {
  position: fixed;
  overflow: visible;
  width: 100%;
  height: 850px;
}
.parallax-layer {
  width: 100%;
  height: 500px;
  position: fixed;
  left: 0;
  top: 0;
  background-position: bottom center;
  background-repeat: repeat-x;
  background-size: 960px 253px;
}
  .layer-0 {
    top: 0;
    z-index: 5;
    background: #dbf0ff url('/img/Layer1(logo)_test.png') no-repeat top 40px center;
    background-size: 120px 138.5px;
  }
  .layer-1 {
    top: -100px;
    z-index: 5;
    background-image: url('/img/Layer2_test.png');
  }
  .layer-2 {
    top: -50px;
    z-index: 10;
    background-image: url('/img/Layer3_test.png');
  }
  .layer-3 {
    top: -10px;
    z-index: 15;
    background-image: url('/img/Layer4_test.png');
  }
  .layer-4 {
    top: 65px;
    z-index: 20;
    background-image: url('/img/Layer5_test.png');
  }
  .layer-5
  {
    top: 150px;
    z-index: 25;
    background-image: url('/img/Layer6_test.png');
  }


.parallax-content
{
  position: absolute;
  top: 600px;
	left: 0;
  background: #415a6c;
  width: 100%;
  min-height: 1500px;
}
.parallax-content h1
{
  	color: #fff;
  	font-size: 2em;
  	text-transform: uppercase;
  	text-align: center;
}


.gallery-container
{
	margin: 0 auto;
	max-width: $content-width;
	padding: 0 1rem;
}
.responsive-image
{
	max-width: 100%;
}
.cell
{
	margin: 1rem;
	.cell img
	{
		display: block;
	}
}
#nav-toggle
{
	position: absolute;
	right: 50px;
	top: 18px;
	cursor: pointer;
	padding: 0;
	//padding: 10px 35px 16px 0px;
	span,
	span:before,
	span:after
	{
		cursor: pointer;
		border-radius: 1px;
		height: 5px;
		width: 35px;
		background: $nav-font-color;
		position: absolute;
		display: block;
		content: '';
		transition: all 300ms ease-in-out;
	}
	span:before
	{
		top: -10px;
	}
	span:after
	{
		bottom: - 10px;
	}
	&.active span
	{
		background-color: transparent;
		&:before,
		&:after
		{
			top: 0;
		}
		&:before
		{
			transform: rotate(45deg);
		}
		&:after
		{
			transform: rotate(-45deg);
		}
	}
}

@media only screen and (max-width: $breakpoint)
{
	header
	{
		margin-top: 100px !important;
	}
	.navigation
	{
		top:0;
		width: 100%;
		position: fixed;
	}
	.nav-mobile
	{
		display: block;
	}
	.brand
	{
		left: 0;
	}
	nav
	{
		width: 100%;
		padding: $nav-height 0 15px;
		ul
		{
			display: none;
			li
			{
				float: none;
				a
				{
					padding: 15px;
					width: 100%;
					line-height: 20px;
				}
				ul li a
				{
					padding-left: 30px;
				}
			}
		}
	}
	.nav-dropdown
	{
		position: static;
		width: 100%;
	}
}
.projects-preview li
{
	height: 25%;
	width: 100%;
	overflow: hidden;
	transition: transform 0.5s;
	a
	{
		display: block;
		height: 100vh;
		width: 100%;
		opacity: 0;
		transition: opacity 0.5s;
		transform: translateY(0%);
	}
	&:nth-of-type(2) a
	{
		transform: translateY(-25%);
	}
	&:nth-of-type(3) a
	{
		transform : translateY(-50%);
	}
	&:nth-of-type(4) a
	{
		transform: translateY(-75%);
	}
}
.projects > li
{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: opacity 0.3s;
}
.projects-previews li.slide-out
{
	transform: translateX(-100%);
}
.projects > li.selected
{
	z-index: 1;
	opacity: 1;
	transition: opacity 0s;
}
@include MQ(M)
{
	.nav-list
	{
		display: block !important;
	}
	.grid
	{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}
	.cell
	{
		width: calc(50% - 2rem);
	}
}
@include MQ(L)
{
	.cell
	{
		width: calc(33.3333% - 2rem);
	}
	.projects-previews li
	{
		display: inline-block;
		height : 100%;
		width: 25%;
		float: left;
	}
	.projects-previews li.slide-out
	{
		transform: translateY(-100%);
	}
	.projects-previews a
	{
		width: 400%;
	}
	.projects-previews li:nth-of-type(2) a
	{
		transform: translateX(-25%);
	}
	.projects-previews li:nth-of-type(3) a
	{
		transform: translateX(-50%);
	}
	.projects-previews li:nth-of-type(4) a
	{
		transform: translateX(-75%);
	}
}

#photos {
  opacity: .88;
}

#photos img {
  width: 30%;
  float: left;
  display: block;
  margin: 2px;
}

#photos ul {
  list-style: none;
  margin: 0px auto;
  padding: 10px;
  display: block;
  max-width: 780px;
  text-align: center;
}

#overlay {
  background: rgba(0,0,0, .8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
}

#overlay img {
  margin: 10% auto 0;
  width: 550px;
  border-radius: 5px;
}

#photos {
  width: 100%;
}

#photo-gallery {
  width: 100%;
}

article
{
	max-width: $content-width;
	margin: 0 auto;
	padding: 10px;
}

*,
*::before,
*::after
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #f5f5f5;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
    background: #e9ebec;
}
#back-to-top.show {
    opacity: 1;
}